<div align="center">
<h1 class="text">Installation</h1>

<p>Please make sure latest Node 6 LTS and NPM 3+ are installed then you install the CLI(Command Line Interface) globally (you may need sudo)<br><br><b>npm install -g ionic@latest.</b></p>
<p>You'll see this Interface</p>
<br><br>

<img src="../../assets/install.jpg"><br>


<p>If want to see that you have installed Ionic.<br><b>ionic</b></p>
<P>Then you'll see as a result of ionic being installed</P>
<img src="../../assets/Untitled.jpg">

</div>